cors:
  originPatterns: https://domonioprod.com
spring:
  application:
    name: teste_prod
  datasource:
    url: jdbc:h2:mem:prod
    username: admin
    password: 1234
    driverClassName: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update